.cart{
    position: sticky;
    top: 0;
    padding: 50px 30px;
}

.cart {
    margin-bottom: 50px;
  }
  
  .cart button {
    padding: 7px 10px;
    border-radius: 17px;
    font-weight: 600;
    background-color: white;
    margin-top: 20px;
    border: 2px solid rgb(69, 4, 247);
  }
  .cart button:hover {
    background-color: rgb(49, 6, 241);
    border: 2px solid rgb(235, 222, 222);
    color: rgb(133, 126, 131);
  }
  